<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.board">

	<!-- 게시물 페이징 -->
	<select id="listPage" resultType="com.board.domain.BoardVO"
		parameterType="com.board.domain.Criteria">
			select bno, title, content, writer, regDate, viewCnt
			FROM( SELECT bno, title, content, writer, regDate, viewCnt,
			row_number() over(order by bno desc) AS rNum FROM tbl_board) mb
			WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
			ORDER BY bno DESC;
	</select>
	
	<!-- 게시물 페이징 카운트 -->
	<select id="listCount" resultType="int">
	<![CDATA[
		select count(bno) from tbl_board where bno > 0
		]]>
	</select>

	<!-- 게시물 목록 -->
	<select id="list" resultType="com.board.domain.BoardVO">
		select bno, title, content, writer, regDate, viewCnt from tbl_board
	</select>
	
	<!-- 게시물 작성 -->
	<insert id="write" parameterType="com.board.domain.BoardVO">
		insert into tbl_board(title, content, writer)
					values(#{title}, #{content}, #{writer})
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="com.board.domain.BoardVO">
		select bno, title, content, writer, regDate, viewCnt
		from tbl_board
		where bno = #{bno}   
	</select>
	
	<!-- 게시물 수정 -->
	<update id="modify" parameterType="com.board.domain.BoardVO">
		update tbl_board
		set title = #{title},
			content = #{content},
			writer = #{writer}
		where bno = #{bno}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delete" parameterType="int">
		delete from tbl_board
			where bno = #{bno}
	</delete>

</mapper>